<h1 class="welcome-title">
  Welcome to Plant Tracker
</h1>

<div class="form-container">
  <div class="form-box">
    <%= render partial: "shared/form", locals: { form_url: "/login", form_method: :post, submit_label: "Login" } %>
  </div>
  <a href="https://www.flaticon.com/free-icons/flower" title="flower icons">Flower icons created by Freepik - Flaticon</a>
</div>
