<h1 class="welcome-title">
  Welcome to Plant Tracker
</h1>
<%= link_to "Logout", session_path, data: { "turbo-method": :delete }, class: "logout-link" %>



    Logged in as <strong><%= Current.user.email_address %></strong>.<br>
  <a href="https://www.flaticon.com/free-icons/flower" title="flower icons">Flower icons created by Freepik - Flaticon</a>
