<h1>Plants</h1>

<p>If <code>@plants</code> is present, it will also render plant rows by mapping each header to a model attribute (best-effort snake_case conversion).</p>

<table class="table table-striped table-sm">
  <thead>
    <tr>
      <% @headers.each do |h| %>
        <th><%= h %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <%# Render plants if controller provides @plants %>
    <% if defined?(@plants) && @plants.present? %>
      <% @plants.each do |plant| %>
        <tr>
          <% @headers.each do |label| %>
            <% value = header_to_attr(label, plant) %>
            <% if label == 'Name'%>
            <td><%= link_to value, edit_plant_path(plant), data: { turbo_frame:  "_top" } %></td>
            <% else %>
            <td><%= value.to_s %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
